# Ignore files inside airline-ticket-sale-api directory
/airline-ticket-sale-api/.vs
/airline-ticket-sale-api/bin
/airline-ticket-sale-api/obj

# Ignore files inside airline_ticket_sale_api.Tests directory
/airline_ticket_sale_api.Tests/.vs
/airline_ticket_sale_api.Tests/bin
/airline_ticket_sale_api.Tests/obj

# Ignore files inside airline-ticket-sale-client directory nextjs

/airline-ticket-sale-client/.next
/airline-ticket-sale-client/node_modules
/airline-ticket-sale-client/.vs
/airline-ticket-sale-client/.env.local
/airline-ticket-sale-client/.env.development.local
/airline-ticket-sale-client/.env.production.local
/airline-ticket-sale-client/.env.test.local
/airline-ticket-sale-client/out


# Ignore files inside airline-ticket-sale-client/my-nextjs-app directory nextjs

/airline-ticket-sale-client/my-nextjs-app/.next
/airline-ticket-sale-client/my-nextjs-app/node_modules
/airline-ticket-sale-client/my-nextjs-app/.vs
/airline-ticket-sale-client/my-nextjs-app/.env.local
/airline-ticket-sale-client/my-nextjs-app/.env
/airline-ticket-sale-client/my-nextjs-app/.env.development.local
/airline-ticket-sale-client/my-nextjs-app/.env.production.local
/airline-ticket-sale-client/my-nextjs-app/.env.test.local
/airline-ticket-sale-client/my-nextjs-app/out
